

  .ul-course-list {
    list-style-type: none;
    padding:15px;
    margin: 0;
  }
  
  .ul-course-list .li-course-list {
    border: 1px solid #ddd;
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 12px;
  }
  .ul-course-list .li-course-list::after { 
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: right;
  }
  
  
  .li-course-list:hover { 
      background-color: #5cb85c;
      color: white;
  }
  
  .li-course-list:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  } 

  .list-of-schedule { 
    margin: 25px;
    margin-top: 25px;
  }


  .line { 

padding: 15px;
    border-bottom: 5px solid;
    border-bottom-color: #5cb85c;
  }

  