

.image-container-test {
    position: relative;
    text-align: center;
    color: black;
  }

  .image-text { 
    position: absolute;
  bottom: 180px;
  left: 230px;
  font-family: 'Dancing Script', cursive;
  }

  .image-course { 

    position: absolute;
    bottom: 160px;
    left: 250px;
  }

  .button-row { 
    padding: 15px;
  }

  .btn-myClasses { 
    margin: 15px;
  }
  .col-4-my-classes { 
    margin: 45px;
    padding: 15px;
  } 

  .false { 
    background-color: red;
  }