

.container {
    position: relative;
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0 5%;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
  }
 
  .card { 
    margin: 15px;
    width: 18rem;
    box-shadow: 0px 6px 10px -1px rgb(155, 155, 155);
  } 

  cat-page {
        box-sizing: border-box;
        
      }
      
      
      .ul-cat-list {
        list-style-type: none;
        padding:15px;
        margin: 0;
      }
      
      .ul-cat-list .li-cat-list {
        border: 1px solid #ddd;
        margin-top: -1px; /* Prevent double borders */
        background-color: #f6f6f6;
        padding: 12px;
      }
      .ul-cat-list .li-cat-list::after { 
        transition: transform 0.5s;
        transform: scaleX(0);
        transform-origin: right;
      }
      
      
      .li-cat-list:hover { 
          background-color: #5cb85c;
          color: white;
      }
      
      .li-cat-list:hover::after {
        transform: scaleX(1);
        transform-origin: left;
      } 
      
      .course-section { 
        background: linear-gradient(
          to top,
          #DCDCDC, 
          transparent
        );
      } 

      .image-container { 
        position: relative;
        width: 100%;
        max-width: 400px;
      } 

      .image {
        display: block;
        width: 100%;
        height: auto;
      }
      
      .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .3s ease;
        /* background-color: red; */

        background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4);
        
      }
      
      .image-container:hover .overlay {
        opacity: 1;
      }
      
      .icon {
        color: white;
        font-size: 100px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
      }
      