

.btn-lg { 
    margin: 15px;
  background-color: #0bda51;
  border: #0bda51;
  box-shadow: 0px 6px 10px -1px rgb(155, 155, 155);
  
}  

.btn-lg:hover{ 
  color:#0bda51;
  background-color: #d3d3d3;
  border-color: #0bda51;
} 

.container {
  position: relative;
  text-align: center;
  
  font-weight: bolder;
} 

.text-login {
  color: #198754;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.yellow-tape { 
  margin: 15px;
  width: 100%;
} 

.wrong-input { 
  color: red;
}